{{- if .Values.ciliumNetworkPolicy.enabled -}}
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  labels:
    {{- include "labels.selector" . | nindent 4 }}
  name: {{ .Chart.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  egress:
    - toEntities:
        - kube-apiserver
        - cluster
        - world
  endpointSelector:
    matchLabels:
      {{- include "labels.selector" . | nindent 6 }}
  ingress:
    - fromEntities:
      - cluster
{{- end -}}
