version: 2.1
orbs:
  architect: giantswarm/architect@6.9.0
jobs:
  template-chart:
    docker:
      - image: giantswarm/helm-chart-testing:v3.14.0
    steps:
      - checkout
      - run: cd helm/grafana && helm dep up
      - run: helm template helm/grafana

workflows:
  package-and-push-chart-on-tag:
    jobs:
      - template-chart:
          name: "template-chart"
          # Trigger job on git tag.
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-app-catalog:
          context: "architect"
          executor: "app-build-suite"
          name: app-catalog
          app_catalog: "giantswarm-catalog"
          app_catalog_test: "giantswarm-test-catalog"
          chart: "grafana"
          persist_chart_archive: true
          ct_config: ".circleci/ct-config.yaml"
          # Trigger job on git tag.
          filters:
            tags:
              only: /^v.*/
          requires:
            - "template-chart"

      - architect/push-to-app-catalog:
          context: "architect"
          executor: "app-build-suite"
          name: control-plane-catalog
          app_catalog: "control-plane-catalog"
          app_catalog_test: "control-plane-test-catalog"
          chart: "grafana"
          ct_config: ".circleci/ct-config.yaml"
          # Trigger job on git tag.
          filters:
            tags:
              only: /^v.*/
          requires:
            - "template-chart"

      - architect/run-tests-with-ats:
          name: run-chart-tests-with-ats
          filters:
            # Do not trigger the job on merge to main.
            branches:
              ignore:
                - main
          requires:
            - "app-catalog"

      - architect/push-to-app-collection:
          context: "architect"
          name: proxmox-app-collection
          app_name: "grafana"
          app_namespace: "monitoring"
          app_collection_repo: "proxmox-app-collection"
          requires:
            - control-plane-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          context: "architect"
          name: capa-app-collection
          app_name: "grafana"
          app_namespace: "monitoring"
          app_collection_repo: "capa-app-collection"
          requires:
            - control-plane-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          context: "architect"
          name: capz-app-collection
          app_name: "grafana"
          app_namespace: "monitoring"
          app_collection_repo: "capz-app-collection"
          requires:
            - control-plane-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          context: architect
          name: cloud-director-app-collection
          app_name: "grafana"
          app_namespace: "monitoring"
          app_collection_repo: "cloud-director-app-collection"
          requires:
            - control-plane-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          context: "architect"
          name: vsphere-app-collection
          app_name: "grafana"
          app_namespace: "monitoring"
          app_collection_repo: "vsphere-app-collection"
          requires:
            - control-plane-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
