apiVersion: v2
name: grafana
version: 2.28.3
appVersion: 12.2.1
kubeVersion: "^1.8.0-0"
description: The leading tool for querying and visualizing time series and metrics.
home: https://github.com/giantswarm/grafana-app
icon: https://s.giantswarm.io/app-icons/grafana/1/light.svg
sources:
  - https://github.com/grafana/helm-charts/tree/main/charts/grafana
dependencies:
  - name: grafana
    version: 10.1.4
    repository: https://grafana.github.io/helm-charts
  - name: pg-cluster-recovery-test
    version: 0.3.0
    repository: https://giantswarm.github.io/giantswarm-catalog
    alias: pgClusterRecoveryTest
    condition: pgClusterRecoveryTest.enabled
maintainers:
  - name: giantswarm/team-atlas
    email: team-atlas@giantswarm.io
type: application
annotations:
  application.giantswarm.io/team: atlas
  config.giantswarm.io/version: 1.x.x
