{{- if .Values.postgresqlCluster.enabled }}
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  labels:
    {{- include "grafana.labels" . | nindent 4 }}
    observability.giantswarm.io/tenant: giantswarm
  name: {{ .Values.postgresqlCluster.name }}
  namespace: {{ .Release.Namespace }}
spec:
  instances: {{ .Values.postgresqlCluster.instances }}
  imageName: {{ .Values.postgresqlCluster.image.registry }}/{{ .Values.postgresqlCluster.image.repository }}:{{ .Values.postgresqlCluster.image.tag }}
  postgresql:
    {{- with .Values.postgresqlCluster.parameters }}
    parameters:
      {{- toYaml . | nindent 6 }}
    {{- end }}
  storage:
    size: {{ .Values.postgresqlCluster.storage.size }}
  {{- if .Values.postgresqlCluster.recovery.enabled }}
  bootstrap:
    recovery:
      source: {{ .Values.postgresqlCluster.name }}
      {{- if .Values.postgresqlCluster.recovery.recoveryBackupTime }}
      recoveryTarget:
        targetTime: {{ .Values.postgresqlCluster.recovery.recoveryBackupTime }}
      {{- end }}
  externalClusters:
  - name: {{ .Values.postgresqlCluster.name }}
    plugin:
      name: barman-cloud.cloudnative-pg.io
      parameters:
        barmanObjectName: {{ .Values.postgresqlCluster.name }}-objectstore-recovery
        serverName: {{ .Values.postgresqlCluster.name }}
  {{- end }}
  plugins:
  - name: barman-cloud.cloudnative-pg.io
    enabled: {{ .Values.postgresqlCluster.backup.enabled }}
    isWALArchiver: true
    parameters:
      barmanObjectName: {{ .Values.postgresqlCluster.name }}-objectstore-backup
  {{- if and (.Values.postgresqlCluster.backup.useIRSA) (.Values.postgresqlCluster.serviceAccount.annotations) }}
  serviceAccountTemplate:
    metadata:
      {{- with .Values.postgresqlCluster.serviceAccount.annotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  {{- end }}
{{- end }}
