{{- if and (.Values.postgresqlCluster.enabled) (.Values.postgresqlCluster.backup.enabled) }}
---
apiVersion: barmancloud.cnpg.io/v1
kind: ObjectStore
metadata:
  labels:
    {{- include "grafana.labels" . | nindent 4 }}
    observability.giantswarm.io/tenant: giantswarm
  name: {{ .Values.postgresqlCluster.name }}-objectstore-backup
  namespace: {{ .Release.Namespace }}
spec:
  configuration:
  destinationPath: {{ .Values.postgresqlCluster.backup.destinationPath | quote }}
    {{- if .Values.postgresqlCluster.backup.useIRSA }}
    s3Credentials:
      inheritFromIAMRole: true
    {{- end }}
    {{- if .Values.postgresqlCluster.objectStorage.s3.customAccessKeys.use }}
    endpointURL: {{ .Values.postgresqlCluster.objectStorage.s3.customAccessKeys.endpointURL }}
    s3Credentials:
      region: {{ .Values.postgresqlCluster.objectStorage.s3.customAccessKeys.region }}
      accessKeyId:
        name: {{ .Values.postgresqlCluster.name }}-access-keys
        key: ACCESS_KEY_ID
      secretAccessKey:
        name: {{ .Values.postgresqlCluster.name }}-access-keys
        key: SECRET_ACCESS_KEY
    {{- end }}
    {{- with .Values.postgresqlCluster.objectStorage.azure.azureCredentials }}
    azureCredentials:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    wal:
      compression: gzip
  retentionPolicy: {{ .Values.postgresqlCluster.backup.retentionPolicy | quote }}
{{- end }}
{{- if .Values.postgresqlCluster.recovery.enabled }}
---
apiVersion: barmancloud.cnpg.io/v1
kind: ObjectStore
metadata:
  labels:
    {{- include "grafana.labels" . | nindent 4 }}
    observability.giantswarm.io/tenant: giantswarm
  name: {{ .Values.postgresqlCluster.name }}-objectstore-recovery
  namespace: {{ .Release.Namespace }}
spec:
  configuration:
    destinationPath: {{ .Values.postgresqlCluster.recovery.destinationPath | quote }}
    {{- if .Values.postgresqlCluster.backup.useIRSA }}
    s3Credentials:
      inheritFromIAMRole: true
    {{- end }}
    {{- if .Values.postgresqlCluster.objectStorage.s3.customAccessKeys.use }}
    endpointURL: {{ .Values.postgresqlCluster.objectStorage.s3.customAccessKeys.endpointURL }}
    s3Credentials:
      region: {{ .Values.postgresqlCluster.objectStorage.s3.customAccessKeys.region }}
      accessKeyId:
        name: {{ .Values.postgresqlCluster.name }}-access-keys
        key: ACCESS_KEY_ID
      secretAccessKey:
        name: {{ .Values.postgresqlCluster.name }}-access-keys
        key: SECRET_ACCESS_KEY
    {{- end }}
    {{- with .Values.postgresqlCluster.objectStorage.azure.azureCredentials }}
    azureCredentials:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    wal:
      compression: gzip
{{- end }}
