{{- if and (include "grafana.crossplane.enabled" .) (include "grafana.crossplane.isAzure" .) -}}
{{- $clusterName := .Values.postgresqlCluster.crossplane.clusterName -}}
{{- $resourceGroup := include "grafana.crossplane.azure.resourceGroup" . -}}
{{- $location := include "grafana.crossplane.azure.location" . -}}
{{- $subscriptionId := include "grafana.crossplane.azure.subscriptionId" . -}}
{{- $containerName := .Values.postgresqlCluster.crossplane.azure.container.name | default "grafana-backups" -}}
{{- $storageAccountName := include "grafana.crossplane.azure.storageAccountName" (dict "containerName" $containerName) -}}
{{- $isPrivate := include "grafana.crossplane.azure.isPrivateCluster" . | eq "true" -}}
---
apiVersion: storage.azure.upbound.io/v1beta2
kind: Account
metadata:
  name: {{ $storageAccountName }}
  labels:
    {{- include "grafana.labels" . | nindent 4 }}
    app.kubernetes.io/component: storage
  annotations:
    {{- if .Values.postgresqlCluster.crossplane.observeOnly }}
    crossplane.io/external-name: {{ $storageAccountName }}
    {{- end }}
spec:
  {{- if .Values.postgresqlCluster.crossplane.observeOnly }}
  managementPolicies: ["Observe"]
  {{- end }}
  forProvider:
    resourceGroupName: {{ $resourceGroup }}
    location: {{ $location }}
    accountKind: StorageV2
    accountTier: Standard
    accountReplicationType: {{ .Values.postgresqlCluster.crossplane.azure.replicationType | default "LRS" }}
    allowBlobPublicAccess: false
    enableHttpsTrafficOnly: true
    minTlsVersion: TLS1_2
    publicNetworkAccessEnabled: {{ not $isPrivate }}
    {{- if .Values.postgresqlCluster.crossplane.azure.networkRules }}
    networkRules: 
      {{- toYaml .Values.postgresqlCluster.crossplane.azure.networkRules | nindent 6 }}
    {{- end }}
    tags:
      {{- include "grafana.crossplane.tags" . | nindent 6 }}
  {{- if not .Values.postgresqlCluster.crossplane.observeOnly }}
  providerConfigRef:
    name: {{ .Values.postgresqlCluster.crossplane.providerConfigName | default "default" }}
  {{- end }}
  writeConnectionSecretToRef:
    name: {{ $storageAccountName }}-connection
    namespace: {{ .Release.Namespace }}
{{- end }}
