{{- if and (include "grafana.crossplane.enabled" .) (include "grafana.crossplane.isAzure" .) -}}
{{- if .Values.postgresqlCluster.crossplane.azure.container.lifecycleDays -}}
{{- $clusterName := .Values.postgresqlCluster.crossplane.clusterName -}}
{{- $containerName := .Values.postgresqlCluster.crossplane.azure.container.name | default "grafana-backups" -}}
{{- $storageAccountName := include "grafana.crossplane.azure.storageAccountName" (dict "containerName" $containerName) -}}
---
apiVersion: storage.azure.upbound.io/v1beta1
kind: ManagementPolicy
metadata:
  name: {{ $storageAccountName }}
  labels:
    {{- include "grafana.labels" . | nindent 4 }}
    app.kubernetes.io/component: storage
  annotations:
    {{- if .Values.postgresqlCluster.crossplane.observeOnly }}
    crossplane.io/external-name: {{ $storageAccountName }}
    {{- end }}
spec:
  {{- if .Values.postgresqlCluster.crossplane.observeOnly }}
  managementPolicies: ["Observe"]
  {{- end }}
  forProvider:
    storageAccountIdSelector:
      matchLabels:
        {{- include "grafana.labels" . | nindent 8 }}
        app.kubernetes.io/component: storage
    rule:
      - name: DeleteOldBlobs
        enabled: true
        filters:
          - blobTypes:
            - blockBlob
        actions:
          - baseBlob:
            - deleteBlobAfterDaysSinceModificationGreaterThan: {{ .Values.postgresqlCluster.crossplane.azure.container.lifecycleDays }}
  {{- if not .Values.postgresqlCluster.crossplane.observeOnly }}
  providerConfigRef:
    name: {{ .Values.postgresqlCluster.crossplane.providerConfigName | default "default" }}
  {{- end }}
{{- end }}
{{- end }}
