{{- if and .Values.postgresqlCluster.enabled .Values.postgresqlCluster.backup.enabled .Values.postgresqlCluster.backup.crossplane.enabled (include "grafana.crossplane.isAWS" .) .Values.postgresqlCluster.backup.crossplane.aws.enabled }}
{{- $bucketName := .Values.postgresqlCluster.backup.crossplane.aws.bucket.name }}
---
apiVersion: s3.aws.upbound.io/v1beta1
kind: BucketLifecycleConfiguration
metadata:
  name: {{ $bucketName }}
  namespace: {{ .Release.Namespace }}
  annotations:
    crossplane.io/external-name: {{ $bucketName }}
  labels:
    {{- include "grafana.labels" . | nindent 4 }}
    app.kubernetes.io/component: storage
spec:
  managementPolicies:
    {{- if .Values.postgresqlCluster.backup.crossplane.observeOnly }}
    - Observe
    {{- else }}
    - "*"
    {{- end }}
  forProvider:
    bucketRef:
      name: {{ $bucketName }}
    region: {{ .Values.postgresqlCluster.backup.crossplane.region }}
    rule:
      - id: Expiration
        status: Enabled
        expiration:
          - days: {{ .Values.postgresqlCluster.backup.crossplane.aws.bucket.lifecycleDays }}
  providerConfigRef:
    name: {{ .Values.postgresqlCluster.backup.crossplane.providerConfigRef }}
{{- end }}
